<a id="1"></a>
# <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:130%;text-align:center;border-radius:10px 10px;">LIBRARIES/PACKAGE</p>

In [1]:
import pandas as pd
from MyTextPreprocessor import TextPreprocessor

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DHIMAS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

<a id="2"></a>
# <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:130%;text-align:center;border-radius:10px 10px;">SMS BAHASA INDONESIA</p>

<a id="2"></a>
## <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:110%;text-align:center;border-radius:10px 10px;">DATASET PERTAMA</p>

Baca Dataset

In [2]:
df_indo1 = pd.read_csv('./dataset/dataset_sms_spam_v1.csv')
df_indo1

                                                   Teks  label
0     [PROMO] Beli paket Flash mulai 1GB di MY TELKO...      2
1     2.5 GB/30 hari hanya Rp 35 Ribu Spesial buat A...      2
2     2016-07-08 11:47:11.Plg Yth, sisa kuota Flash ...      2
3     2016-08-07 11:29:47.Plg Yth, sisa kuota Flash ...      2
4     4.5GB/30 hari hanya Rp 55 Ribu Spesial buat an...      2
...                                                 ...    ...
1138     Yooo sama2, oke nanti aku umumin di grup kelas      0
1139  üòÅ sebelumnya ga ad nulis kerudung. Kirain warn...      0
1140                               Mba mau kirim 300 ya      0
1141  nama1  beaok bwrangkat pagi...mau cas atay tra...      0
1142                         No bri atas nama kamu mana      0

[1143 rows x 2 columns]

Cek dan Hapus missing value

In [3]:
print(f'Missing value:\n\n{df_indo1.isna().sum()}')
df_indo1 = df_indo1.dropna()
print('\ntelah berhasil dihapus')

Missing value:

Teks     0
label    0
dtype: int64

telah berhasil dihapus

Cek dan Hapus duplikat

In [4]:
print(f'Baris duplikat = {df_indo1.duplicated().sum()}')
df_indo1 = df_indo1.drop_duplicates()
print('telah berhasil dihapus')

Baris duplikat = 1
telah berhasil dihapus

Ganti nama kolom

In [5]:
df_indo1 = df_indo1.rename(columns={'Teks': 'Message'})

Tukar posisi kolom

In [6]:
df_indo1 = df_indo1[['label', 'Message']]

Isi dari kolom label

In [7]:
df_indo1['label'].value_counts()

label
0    568
1    335
2    239
Name: count, dtype: int64

Hapus baris dengan label = 2 (SMS Promo)

In [8]:
df_indo1 = df_indo1[df_indo1['label'] != 2]

Isi dari kolom label

In [9]:
df_indo1['label'].value_counts()

label
0    568
1    335
Name: count, dtype: int64

<a id="2"></a>
## <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:110%;text-align:center;border-radius:10px 10px;">DATASET KEDUA</p>

Baca Dataset

In [10]:
df_indo2 = pd.read_csv('./dataset/indo_spam.csv')
df_indo2

     Kategori                                              Pesan
0        Spam  (Bank Granit menerbitkan Strong-Buy) PILIHAN E...
1         ham  (Saya harus menambahkan bahwa saya tidak terla...
2         ham  (Yang mengatakan, bisakah Anda mengirim sms ke...
3        Spam  * GRATIS * POLIFONIK RINGTONE Teks SUPER ke 87...
4        Spam  **PESAN GRATIS**Terima kasih telah menggunakan...
...       ...                                                ...
2040      ham  Yup, tidak perlu. Aku akan jus menunggu 4 e hu...
2041      ham  Yup... Dari apa yang saya remb... Saya pikir s...
2042      ham                 Yup... Bagaimana √É 1/4 noe leh ...
2043      ham  Yup... Ok i go home melihat timing maka saya m...
2044      ham  ZOE ITU BARU SAJA MEMUKULKU 2 IM FUCKING SHITI...

[2045 rows x 2 columns]

Cek dan Hapus missing value

In [11]:
print(f'Missing value:\n\n{df_indo2.isna().sum()}')
df_indo2 = df_indo2.dropna()
print('\ntelah berhasil dihapus')

Missing value:

Kategori    0
Pesan       0
dtype: int64

telah berhasil dihapus

Cek dan Hapus duplikat

In [12]:
print(f'Baris duplikat = {df_indo2.duplicated().sum()}')
df_indo2 = df_indo2.drop_duplicates()
print('telah berhasil dihapus')

Baris duplikat = 147
telah berhasil dihapus

Ganti nama kolom

In [13]:
df_indo2 = df_indo2.rename(columns={'Kategori': 'label', 'Pesan': 'Message'})

Isi dari kolom label

In [14]:
df_indo2['label'].value_counts()

label
ham     1260
Spam     638
Name: count, dtype: int64

Konversi label: ham ‚Üí 0, Spam ‚Üí 1

In [15]:
df_indo2['label'] = df_indo2['label'].map({'ham': 0, 'Spam': 1})

Isi dari kolom label

In [16]:
df_indo2['label'].value_counts()

label
0    1260
1     638
Name: count, dtype: int64

<a id="2"></a>
## <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:110%;text-align:center;border-radius:10px 10px;">GABUNGAN KEDUANYA</p>

In [17]:
df_indo_gabung = pd.concat([df_indo1, df_indo2], ignore_index=True)
df_indo_gabung

      label                                            Message
0         1  Jika anda bermasalah dgn CC/KT@, stres dgn bun...
1         1  Lelah byr min payment? Kami Solusinya, bantu s...
2         1  Dana Tunai (KTA) bunga 0,99% hingga 300 jt. Sy...
3         1  ‚ÄúROXI CELL‚Äù Hanya dengan Rp.100rb Anda bisa ja...
4         1  3 RAMADHAN Selamat Anda Pemenang Rp.100jt. PIN...
...     ...                                                ...
2796      0  Yup, tidak perlu. Aku akan jus menunggu 4 e hu...
2797      0  Yup... Dari apa yang saya remb... Saya pikir s...
2798      0                 Yup... Bagaimana √É 1/4 noe leh ...
2799      0  Yup... Ok i go home melihat timing maka saya m...
2800      0  ZOE ITU BARU SAJA MEMUKULKU 2 IM FUCKING SHITI...

[2801 rows x 2 columns]

Cek dan Hapus missing value

In [18]:
print(f'Missing value:\n\n{df_indo_gabung.isna().sum()}')
df_indo_gabung = df_indo_gabung.dropna()
print('\ntelah berhasil dihapus')

Missing value:

label      0
Message    0
dtype: int64

telah berhasil dihapus

Cek dan Hapus duplikat

In [19]:
print(f'Baris duplikat = {df_indo_gabung.duplicated().sum()}')
df_indo_gabung = df_indo_gabung.drop_duplicates()
print('telah berhasil dihapus')

Baris duplikat = 0
telah berhasil dihapus

Cek value kolom label

In [20]:
df_indo_gabung['label'].value_counts()

label
0    1828
1     973
Name: count, dtype: int64

Preprocessing

In [21]:
dataset_key_norm = pd.read_csv('key_norm_ind.csv')
processor = TextPreprocessor(key_norm_dataset=dataset_key_norm, language='indonesian')

df_indo_gabung['clean_Message'] = df_indo_gabung['Message'].apply(processor.preprocess)

print('Preprocessing selesai')
df_indo_gabung

Preprocessing selesai

,label,Message,clean_Message
0,1,"Jika anda bermasalah dgn CC/KT@, stres dgn bun...",masalah cckt stres bunga lunas disc sd hubung ...
1,1,"Lelah byr min payment? Kami Solusinya, bantu s...",lelah bayar min payment solusi bantu legal tut...
2,1,"Dana Tunai (KTA) bunga 0,99% hingga 300 jt. Sy...",dana tunai bunga jt syarat ktp cc bpkb rate ca...
3,1,‚ÄúROXI CELL‚Äù Hanya dengan Rp.100rb Anda bisa ja...,roxi cell rprb agen pulsa elektrik operator gs...
4,1,3 RAMADHAN Selamat Anda Pemenang Rp.100jt. PIN...,ramadhan selamat menang rpjt pin code yrkz inf...
...,...,...,...
2796,0,"Yup, tidak perlu. Aku akan jus menunggu 4 e hu...",yup jus tunggu e hujan henti
2797,0,Yup... Dari apa yang saya remb... Saya pikir s...,yup remb pikir mes
2798,0,Yup... Bagaimana √É 1/4 noe leh ...,yup noe leh
2799,0,Yup... Ok i go home melihat timing maka saya m...,yup ok i go home timing xuhui ajar tanggal mei...
2800,0,ZOE ITU BARU SAJA MEMUKULKU 2 IM FUCKING SHITI...,zoe pukul im fucking shitin diri il defo coba ...

Simpan menjadi file csv baru

In [ ]:
df_indo_gabung.to_csv('./dataset (setelah prepros)/clean_dataset_sms_indo.csv', index=False)

print("Data telah disimpan dalam ./dataset (setelah prepros)/clean_dataset_sms_indo.csv")

Data telah disimpan dalam clean_dataset_sms_indo.csv

<a id="2"></a>
# <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:130%;text-align:center;border-radius:10px 10px;">SMS BAHASA INGGRIS</p>

Baca Dataset

In [23]:
# df_inggris = pd.read_csv('spam.csv', encoding='latin-1')
df_inggris = pd.read_csv('./dataset/SMSSpamCollection', sep='\t', header=None, names=['label', 'Message'])
df_inggris

     label                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will √º b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

Hapus kolom "Unnamed: 2",	"Unnamed: 3", dan	"Unnamed: 4"

In [24]:
# df_inggris = df_inggris.drop(columns=["Unnamed: 2",	"Unnamed: 3", "Unnamed: 4"])

Cek dan Hapus missing value

In [25]:
print(f'Missing value:\n\n{df_inggris.isna().sum()}')
df_inggris = df_inggris.dropna()
print('\ntelah berhasil dihapus')

Missing value:

label      0
Message    0
dtype: int64

telah berhasil dihapus

Cek dan Hapus duplikat

In [26]:
print(f'Baris duplikat = {df_inggris.duplicated().sum()}')
df_inggris = df_inggris.drop_duplicates()
print('telah berhasil dihapus')

Baris duplikat = 403
telah berhasil dihapus

Ganti nama kolom

In [27]:
# df_inggris = df_inggris.rename(columns={'v1': 'label', 'v2': 'Message'})

Isi dari kolom label

In [28]:
df_inggris['label'].value_counts()

label
ham     4516
spam     653
Name: count, dtype: int64

Konversi label: ham ‚Üí 0, spam ‚Üí 1

In [29]:
df_inggris['label'] = df_inggris['label'].map({'ham': 0, 'spam': 1})

Isi dari kolom label

In [30]:
df_inggris['label'].value_counts()

label
0    4516
1     653
Name: count, dtype: int64

Preprocessing

In [31]:
dataset_key_norm = pd.read_csv('key_norm_eng.csv')
processor = TextPreprocessor(key_norm_dataset=dataset_key_norm, language='english')

df_inggris['clean_Message'] = df_inggris['Message'].apply(processor.preprocess)

print('Preprocessing selesai')
df_inggris

Preprocessing selesai

,label,Message,clean_Message
0,0,"Go until jurong point, crazy.. Available only ...",go jurong point crazi avail bugi n great world...
1,0,Ok lar... Joking wif u oni...,ok lar joke wif oni
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entri wkli comp win fa cup final tkt st m...
3,0,U dun say so early hor... U c already then say...,dun say earli hor c alreadi say
4,0,"Nah I don't think he goes to usf, he lives aro...",nah dont think goe usf live around though
...,...,...,...
5567,1,This is the 2nd time we have tried 2 contact u...,nd time tri contact pound prize claim easi cal...
5568,0,Will √º b going to esplanade fr home?,√º b go esplanad fr home
5569,0,"Pity, * was in mood for that. So...any other s...",piti mood soani suggest
5570,0,The guy did some bitching but I acted like i'd...,guy bitch act like id interest buy someth els ...
5571,0,Rofl. Its true to its name,roll floor laugh true name

Simpan menjadi file csv baru

In [ ]:
df_inggris.to_csv('./dataset (setelah prepros)/clean_dataset_sms_inggris.csv', index=False)

print("Data telah disimpan dalam ./dataset (setelah prepros)/clean_dataset_sms_inggris.csv")

Data telah disimpan dalam clean_dataset_sms_inggris.csv