<a id="1"></a>
# <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:130%;text-align:center;border-radius:10px 10px;">IMPORTING LIBRARIES</p>

In [26]:
import pandas as pd

<a id="1"></a>
# <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:130%;text-align:center;border-radius:10px 10px;">DATASET SMS INDONESIA</p>

In [27]:
df_indo = pd.read_csv('./dataset (setelah prepros)/clean_dataset_sms_indo.csv')
df_indo

,label,Message,clean_Message
0,1,"Jika anda bermasalah dgn CC/KT@, stres dgn bun...",masalah cckt stres bunga lunas disc sd hubung ...
1,1,"Lelah byr min payment? Kami Solusinya, bantu s...",lelah bayar min payment solusi bantu legal tut...
2,1,"Dana Tunai (KTA) bunga 0,99% hingga 300 jt. Sy...",dana tunai bunga jt syarat ktp cc bpkb rate ca...
3,1,“ROXI CELL” Hanya dengan Rp.100rb Anda bisa ja...,roxi cell rprb agen pulsa elektrik operator gs...
4,1,3 RAMADHAN Selamat Anda Pemenang Rp.100jt. PIN...,ramadhan selamat menang rpjt pin code yrkz inf...
...,...,...,...
2796,0,"Yup, tidak perlu. Aku akan jus menunggu 4 e hu...",yup jus tunggu e hujan henti
2797,0,Yup... Dari apa yang saya remb... Saya pikir s...,yup remb pikir mes
2798,0,Yup... Bagaimana Ã 1/4 noe leh ...,yup noe leh
2799,0,Yup... Ok i go home melihat timing maka saya m...,yup ok i go home timing xuhui ajar tanggal mei...
2800,0,ZOE ITU BARU SAJA MEMUKULKU 2 IM FUCKING SHITI...,zoe pukul im fucking shitin diri il defo coba ...

Cek dan hapus missing value

In [28]:
print(f'Missing value:\n\n{df_indo.isna().sum()}')
df_indo = df_indo.dropna()
print('\ntelah berhasil dihapus')

Missing value:

label             0
Message           0
clean_Message    10
dtype: int64

telah berhasil dihapus

In [29]:
banyak_label_0_indo = df_indo['label'].value_counts().get(0, 0)  # Mengambil jumlah 0
banyak_label_1_indo = df_indo['label'].value_counts().get(1, 0)   # Mengambil jumlah 1

print(f"Jumlah 0: {banyak_label_0_indo}")
print(f"Jumlah 1: {banyak_label_1_indo}")

Jumlah 0: 1818
Jumlah 1: 973

<a id="1"></a>
# <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:130%;text-align:center;border-radius:10px 10px;">DATASET SMS INGGRIS</p>

In [30]:
df_inggris = pd.read_csv('./dataset (setelah prepros)/clean_dataset_sms_inggris.csv')
df_inggris

,label,Message,clean_Message
0,0,"Go until jurong point, crazy.. Available only ...",go jurong point crazi avail bugi n great world...
1,0,Ok lar... Joking wif u oni...,ok lar joke wif oni
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entri wkli comp win fa cup final tkt st m...
3,0,U dun say so early hor... U c already then say...,dun say earli hor c alreadi say
4,0,"Nah I don't think he goes to usf, he lives aro...",nah dont think goe usf live around though
...,...,...,...
5164,1,This is the 2nd time we have tried 2 contact u...,nd time tri contact pound prize claim easi cal...
5165,0,Will ü b going to esplanade fr home?,ü b go esplanad fr home
5166,0,"Pity, * was in mood for that. So...any other s...",piti mood soani suggest
5167,0,The guy did some bitching but I acted like i'd...,guy bitch act like id interest buy someth els ...
5168,0,Rofl. Its true to its name,roll floor laugh true name

Cek dan hapus missing value

In [31]:
print(f'Missing value:\n\n{df_inggris.isna().sum()}')
df_inggris = df_inggris.dropna()
print('\ntelah berhasil dihapus')

Missing value:

label            0
Message          0
clean_Message    9
dtype: int64

telah berhasil dihapus

In [32]:
banyak_label_0_inggris = df_inggris['label'].value_counts().get(0, 0)  # Mengambil jumlah 0
banyak_label_1_inggris = df_inggris['label'].value_counts().get(1, 0)   # Mengambil jumlah 1

print(f"Jumlah 0: {banyak_label_0_inggris}")
print(f"Jumlah 1: {banyak_label_1_inggris}")

Jumlah 0: 4507
Jumlah 1: 653

<a id="1"></a>
# <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:130%;text-align:center;border-radius:10px 10px;">RANDOM UNDERSAMPLING</p>

Pakai kelas minoritas di dataset bahasa inggris

In [33]:
jumlah_minoritas_df_inggris = len(df_inggris[df_inggris['label'] == 1])
jumlah_minoritas_df_inggris

653

<a id="1"></a>
## <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:110%;text-align:center;border-radius:10px 10px;">DATASET SMS INDONESIA</p>

In [34]:
df_indo_mayoritas = df_indo[df_indo['label'] == 0]
df_indo_minoritas = df_indo[df_indo['label'] == 1]

df_indo_minoritas_under = df_indo_minoritas.sample(n=jumlah_minoritas_df_inggris, random_state=42)
df_indo_mayoritas_under = df_indo_mayoritas.sample(n=jumlah_minoritas_df_inggris, random_state=42)
df_indo_balanced = pd.concat([df_indo_mayoritas_under, df_indo_minoritas_under])

df_indo_balanced

,label,Message,clean_Message
2689,0,Ya.. dia benar-benar hebat .. Bhaji mengatakan...,ya benarbenar hebat bhaji kallis main kriket b...
1594,0,Saya tidak sabar untuk melihat Anda! Bagaimana...,sabar fotofoto guna
470,0,"Dari pt gagas, pt ixindo, pt bima data pratama...",pt gagas pt ixindo pt bima data pratama sma su...
743,0,"Pak, indeks nilai B gabisa diturunin lagi pak?...",indeks nilai bb diturunin kemaren lihat nilai ...
970,0,Aight maaf aku butuh sepuluh tahun untuk mandi...,aight maaf butuh puluh mandi rencana
...,...,...,...
2091,1,SWASTA! Laporan Rekening Anda Tahun 2003 untuk...,swasta lapor rekening
103,1,"Kirim ke MANDIRI aja, a/n ARYA. rek: 131-000-7...",kirim mandiri an arya rek kabarin ya
1128,1,Congrats! Tiket bioskop khusus 1 tahun untuk 2...,ucap selamat tiket bioskop khusus orang milik ...
1126,1,gratis 4 STAR Ibiza Holiday atau uang tunai Â ...,gratis star ibiza holiday uang tunai butuh kol...
2522,1,Ingin funk up fone Anda dengan nada baru mingg...,funk up fone nada minggu balas tonesu teks asl...

Cek jumlah akhir per kelas

In [35]:
df_indo_balanced['label'].value_counts()

label
0    653
1    653
Name: count, dtype: int64

<a id="1"></a>
## <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:110%;text-align:center;border-radius:10px 10px;">DATASET SMS INGGRIS</p>

In [36]:
df_inggris_mayoritas = df_inggris[df_inggris['label'] == 0]
df_inggris_minoritas = df_inggris[df_inggris['label'] == 1]

df_inggris_mayoritas_under = df_inggris_mayoritas.sample(n=jumlah_minoritas_df_inggris, random_state=42)
df_inggris_balanced = pd.concat([df_inggris_mayoritas_under, df_inggris_minoritas])

df_inggris_balanced

,label,Message,clean_Message
905,0,Actually i deleted my old website..now i m blo...,actual delet old websitenow blog magicalsongsb...
1506,0,Yeah we do totes. When u wanna?,yeah tote wanna
2566,0,I'm okay. Chasing the dream. What's good. What...,im okay chase dream what good next
1116,0,Really... I tot ur paper ended long ago... But...,realli tot paper end long ago wat copi ju got ...
3168,0,No problem baby. Is this is a good time to tal...,problem babi good time talk call left messag
...,...,...,...
5137,1,Want explicit SEX in 30 secs? Ring 02073162414...,want explicit sex sec ring cost pmin gsex pobo...
5139,1,ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...,ask mobil chatlin inclu free min india cust se...
5146,1,Had your contract mobile 11 Mnths? Latest Moto...,contract mobil mnth latest motorola nokia etc ...
5163,1,REMINDER FROM O2: To get 2.50 pounds free call...,remind get pound free call credit detail great...
5164,1,This is the 2nd time we have tried 2 contact u...,nd time tri contact pound prize claim easi cal...

Cek jumlah akhir per kelas

In [37]:
df_inggris_balanced['label'].value_counts()

label
0    653
1    653
Name: count, dtype: int64

<a id="1"></a>
## <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:110%;text-align:center;border-radius:10px 10px;">GABUNGKAN KEDUA DATASET</p>

In [38]:
final_dataset = pd.concat([df_indo_balanced, df_inggris_balanced])

# Shuffle dataset gabungan
final_dataset = final_dataset.sample(frac=1, random_state=42).reset_index(drop=True)
final_dataset

,label,Message,clean_Message
0,1,TSELpoin 777 kejutan POIN Hadiah Rp.15jt Resmi...,tselpoin kejut poin hadiah rpjt resmi xxxxx pi...
1,1,Anda telah dipilih untuk menginap di 1 dari 25...,pilih inap hotel top inggris less libur nila t...
2,0,Itu tidak apa-apa. Aku muncul untuk menanyakan...,apaapa muncul bilang kau masuk tonght wen gadis
3,0,Tomorrow i am not going to theatre. . . So i c...,tomorrow go theatr come wherev call tell come ...
4,1,"FREE RING TONE just text ""POLYS"" to 87131. The...",free ring tone text poli everi week get new to...
...,...,...,...
2607,0,No way I'm going back there!,way im go back
2608,1,ISI PULSA lebih untung di MYVPLUS! selain dpt ...,isi pulsa untung myvplus pulsa lsg voucher dis...
2609,1,"Anda dijamin Nokia Phone terbaru, 40GB iPod MP...",jamin nokia phone baru gb ipod mp player hadia...
2610,1,"LAYANAN SMS. untuk kredit teks inklusif Anda, ...",layan sms kredit teks inklusif sila buka login...
2611,1,"ma, isi dl pulsa 20 rb di nmr ini 085337784732",isi pulsa rb nomor

Cek dan hapus missing value

In [39]:
print(f'Missing value:\n\n{final_dataset.isna().sum()}')
final_dataset = final_dataset.dropna()
print('\ntelah berhasil dihapus')

Missing value:

label            0
Message          0
clean_Message    0
dtype: int64

telah berhasil dihapus

Cek jumlah akhir per kelas

In [40]:
final_dataset['label'].value_counts()

label
1    1306
0    1306
Name: count, dtype: int64

Simpan menjadi file csv

In [41]:
final_dataset.to_csv('./dataset (undersampling-oversampling)/dataset_sms_undersampling.csv', index=False)
print("Data telah disimpan dalam ./dataset (undersampling-oversampling)/dataset_sms_undersampling.csv")

Data telah disimpan dalam ./dataset (undersampling-oversampling)/dataset_sms_undersampling.csv

<a id="1"></a>
# <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:130%;text-align:center;border-radius:10px 10px;">RANDOM OVERSAMPLING</p>

Pakai kelas mayoritas di dataset bahasa inggris

In [42]:
jumlah_mayoritas_df_inggris = len(df_inggris[df_inggris['label'] == 0])
jumlah_mayoritas_df_inggris

4507

<a id="1"></a>
## <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:110%;text-align:center;border-radius:10px 10px;">DATASET SMS INDONESIA</p>

In [43]:
df_indo_mayoritas = df_indo[df_indo['label'] == 0]
df_indo_minoritas = df_indo[df_indo['label'] == 1]

df_indo_minoritas_over = df_indo_minoritas.sample(n=jumlah_mayoritas_df_inggris, random_state=42, replace=True)
df_indo_mayoritas_over = df_indo_mayoritas.sample(n=jumlah_mayoritas_df_inggris, random_state=42, replace=True)
df_indo_balanced = pd.concat([df_indo_mayoritas_over, df_indo_minoritas_over])

df_indo_balanced

,label,Message,clean_Message
1740,0,Apakah kertas Anda di e morn atau buritan tmr?,kertas e morn burit tmr
2177,0,Senyum dalam Kesenangan Senyum dalam Kesakitan...,senyum senang senyum sakit senyum alir rain sm...
1433,0,Selamat tahun baru saudaraku tersayang. Aku be...,selamat saudara sayang benarbenar rindu nomor ...
1944,0,"Tidak, ibuku pergi ke 2 dokter gigi.",ibu pergi dokter gigi
1744,0,Ia melakukannya sendiri. Sebagian besar waktu ...,laku baik eja terkadang beda pergi sosok
...,...,...,...
194,1,Pesta m-tronik Anda sebagai Pelanggan setia m-...,pesta mtronik langgan setia mtronik pilih mena...
155,1,"Pelanggan yth, Anda mendapatkan hadiah ke (2) ...",langgan hormat hadiah poin plus plus indosat p...
171,1,Permintaan Anda akan segera kami proses untuk ...,minta proses kunci reg gita layan pt hypermind
2479,1,MENDESAK! Kami mencoba menghubungi Anda. Undia...,desak coba hubung undi pekan menang hadiah jam...
40,1,Dapatkan Segera TIKET Murah & Promo DiTRAVEL K...,dapat tiket murah promo ditravel kmiuntuk terb...

Cek jumlah akhir per kelas

In [44]:
df_indo_balanced['label'].value_counts()

label
0    4507
1    4507
Name: count, dtype: int64

<a id="1"></a>
## <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:110%;text-align:center;border-radius:10px 10px;">DATASET SMS INGGRIS</p>

In [45]:
df_inggris_mayoritas = df_inggris[df_inggris['label'] == 0]
df_inggris_minoritas = df_inggris[df_inggris['label'] == 1]

df_inggris_minoritas_over = df_inggris_minoritas.sample(n=jumlah_mayoritas_df_inggris, random_state=42, replace=True)
df_inggris_balanced = pd.concat([df_inggris_minoritas_over, df_inggris_mayoritas])

df_inggris_balanced

,label,Message,clean_Message
705,1,+449071512431 URGENT! This is the 2nd attempt ...,urgent nd attempt contact uu call b tcsbcmwcnx...
3360,1,URGENT! We are trying to contact U Todays draw...,urgent tri contact today draw show prize guara...
1928,1,TheMob>Yo yo yo-Here comes a new selection of ...,themobyo yo yoher come new select hot download...
736,1,U are subscribed to the best Mobile Content Se...,subscrib best mobil content servic uk per day ...
507,1,"You are guaranteed the latest Nokia Phone, a 4...",guarante latest nokia phone gb ipod mp player ...
...,...,...,...
5162,0,Huh y lei...,huh lei
5165,0,Will ü b going to esplanade fr home?,ü b go esplanad fr home
5166,0,"Pity, * was in mood for that. So...any other s...",piti mood soani suggest
5167,0,The guy did some bitching but I acted like i'd...,guy bitch act like id interest buy someth els ...
5168,0,Rofl. Its true to its name,roll floor laugh true name

Cek jumlah akhir per kelas

In [46]:
df_inggris_balanced['label'].value_counts()

label
1    4507
0    4507
Name: count, dtype: int64

<a id="1"></a>
## <p style="background-color:#034C53;font-family:newtimeroman;color:#FFF9ED;font-size:110%;text-align:center;border-radius:10px 10px;">GABUNGKAN KEDUA DATASET</p>

In [47]:
final_dataset = pd.concat([df_indo_balanced, df_inggris_balanced])

# Shuffle dataset gabungan
final_dataset = final_dataset.sample(frac=1, random_state=42).reset_index(drop=True)
final_dataset

,label,Message,clean_Message
0,0,"Oh... Icic... K lor, den bertemu tempo hari ...",oh icic k lor den temu tempo
1,1,4mths setengah harga sewa garis oranye & ponse...,mths harga sewa garis oranye ponsel kamera bar...
2,0,Ubah lagi... Ini e satu di sebelah eskalator ...,ubah e belah eskalator
3,1,MENDESAK! Nomor Ponsel Anda telah dianugerahi ...,desak nomor ponsel anugerah hadiah ukp jamin h...
4,0,Have you been practising your curtsey?,practis curtsey
...,...,...,...
18023,1,Customer service announcement. We recently tri...,custom servic announc recent tri make deliveri...
18024,1,Freemsg: 1-month unlimited free calls! Activat...,freemsg month unlimit free call activ smartcal...
18025,1,"Gratis msg. Maaf, layanan yang Anda pesan dari...",gratis maaf layan pesan kirim milik kredit sil...
18026,0,Terima kasih atas harapan yang indah. Anda rock,terima kasih harap indah rock
18027,0,We r outside already.,outsid alreadi

Cek dan hapus missing value

In [48]:
print(f'Missing value:\n\n{final_dataset.isna().sum()}')
final_dataset = final_dataset.dropna()
print('\ntelah berhasil dihapus')

Missing value:

label            0
Message          0
clean_Message    0
dtype: int64

telah berhasil dihapus

Cek jumlah akhir per kelas

In [49]:
final_dataset['label'].value_counts()

label
0    9014
1    9014
Name: count, dtype: int64

Simpan menjadi file csv

In [50]:
final_dataset.to_csv('./dataset (undersampling-oversampling)/dataset_sms_oversampling.csv', index=False)
print("Data telah disimpan dalam ./dataset (undersampling-oversampling)/dataset_sms_oversampling.csv")

Data telah disimpan dalam ./dataset (undersampling-oversampling)/dataset_sms_oversampling.csv